cat <<EOF > .gitignore
# node
node_modules/
**/node_modules/

# env
.env.local
.env.*.local

# Strapi cache / build
/backend/build
/backend/.cache
/backend/.tmp

# Next.js build
/client/.next
/client/out
EOF
